.App {
margin: 20px;
margin: 30 auto;
max-width: 600px;
background: linear-gradient(0.3deg, rgb(113, 200, 250) 0.9%, rgb(8, 5, 201) 88.6%);
padding: 20px;
border: 1px solid white;
border-radius: 5px;
}

.form-select {
  display: block;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 26px;
  margin-bottom: 0;
  margin-left: 30px;
}
li {
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: white;
  margin-left: 0;
}
li:first-letter {
  text-transform: capitalize;
}
ul {
  margin: 0;
  padding: 0;
}
.col-6 {
  color: white;
  font-size: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: white;
  font-size: 60px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  color: white;
  right: -5px;
  top: -35px;
  font-size: 12px;
  text-decoration: none;
}

.weather-temperature .active {
  color: white;
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
 small {
  color: black;
  font-size: 12px;
 }
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
 color: white;
  font-size: 15px;
  opacity: 0.7; 
}
.weather-forecast-temperature-min {
  opacity: 0.6;
}
.weather-forecast-temperature {
  font-size: 13px;
  color: white;

}